[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
*.suo
*.cache
*.csproj.user
packages/*
App_Data/
/apps
msbuild.log
_app/
nuget.exe

# this subfolder holds user-specific publishing metadata - don't check them in
PublishProfiles/

*.log
*.log.*

applicationhost.config

# the web project has a post-build event that copies all the hunspell
# aff and dic files to the project folder (which is necessary for the
# release deployment to work in azure.)  dont check them into the repo!
AllOfAmir/*.aff
AllOfAmir/*.dic