body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#all-of-amir{
    background: url('/img/all of amir-01.png') no-repeat right top;
}
#left ul{
    list-style:none;
    padding:0px 0px;
    margin:0px 0px;
}
.pop{
    display:inline-block;
    height:200px;
    width:200px;
    padding:20px 20px;
    margin: 20px 20px;
}
#global-error{display:none;}