body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#e0e0eb;
    background-image: url('/img/background.jpg');
    font-size:20px;
}
.container{
    background-color:white;
    padding:20px 20px;
    -webkit-box-shadow: 0px 0px 5px 5px gray;
    -moz-box-shadow: 0px 0px 5px 5px gray;
    box-shadow: 0px 0px 5px 5px gray;
}
#all-of-amir{
    background: url('/img/all of amir-01.png') no-repeat right top;
}
#loading-dialog{
    display:none;
}
#global-error{display:none;}

.home-tile{
    height:100px;
    background-color: #e0e0eb;
    color:blue;
}
.home-tile h3{
    text-align:center;
    padding:20px 20px;
}
#professional-tile{
    font-family: Consolas, serif;
}

@media (min-width: 768px) {
    .home-tile {
        width: 200px;
        height: 200px;
        text-align: center;
        vertical-align: middle;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property:box-shadow;
    }
    .home-tile:hover, .home-tile:active, .home-tile:focus{
        -webkit-box-shadow: 0px 0px 5px 5px #56bcd6;
        -moz-box-shadow: 0px 0px 5px 5px #56bcd6;
        box-shadow: 0px 0px 5px 5px #56bcd6;
    }
    .home-tile h3{
        display: table-cell;
        vertical-align:bottom;
        height:inherit;
        width:inherit;
        text-align:center;
        color:blue;
        padding: 10px 10px;
        text-decoration:underline;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property:transform;
    }
    .home-tile h3:hover, .home-tile h3:active, .home-tile h3:focus{
        -webkit-transform: translateY(-5px);
         transform: translateY(-5px);
    }

    #personal-tile {
        float: right;
    }

    #professional-tile {
        float: left;
        background: url('/img/code200x200.png');
    }
}
.board-row {
}
#solve-button {
    width: 75%;
    margin-bottom: 20px;
}
#board{
    padding-top:20px;
    padding-bottom:10px;
    text-align:center;
}
.board-cell {
    width: 70px;
    height: 70px;
    background-color: #80dfff;
    border: 1px solid #4dd2ff;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top:15px;
    -webkit-box-shadow:2px 2px 1px 1px gray;
    -moz-box-shadow:2px 2px 1px 1px gray;
    box-shadow:2px 2px 1px 1px gray;
}
.board-cell:first-child {
    margin-left: 0;
}
/*.board-cell:hover,*/ 
.board-cell-hover {
    -webkit-box-shadow: 0px 0px 5px 10px #d0d0e1;
    -moz-box-shadow: 0px 0px 5px 10px #d0d0e1;
    box-shadow: 0px 0px 5px 10px #d0d0e1;
}
.board-cell-input{
    max-width:30px;
    max-height:35px;
    border-radius:5px;
    background-color:#f0f0f5;
    color:black;
    text-align:center;
}
.board-cell-label{
    display:none;
}
#results{
    max-height:320px;
    overflow-y:auto;
    padding: 10px 10px;
    line-height: 1.5;
    font-size:1.4em;
}
.result-word{
    cursor:pointer;
}
#results-wrapper{
    padding:0px 10px 10px 10px;
    display:none;
}