@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="home-page-jumbotron">
    <h1>All of Amir</h1>
</div>

<div style="text-align: center;" class="row">
    <div class="col-sm-6" >
        <a href="@Url.Action("Personal","Home")"><div class="home-tile" id="personal-tile"><h3>Personal</h3></div></a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Professional","Home")"><div class="home-tile" id="professional-tile"><h3>professional()</h3></div></a>
    </div>
</div>
