@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi World</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        this is paragraph 1
    </div>
    <div class="col-sm-6">
        this is paragraph 2
    </div>
</div>