@{
    ViewBag.Title = "Personal Page";
}
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Personal</li>
    </ol>
}

Coming soon ...

