@{
    ViewBag.Title = "Professional";
}

@section breadcrumbs
{
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Professional</li>
</ol>
}

<div class="jumbotron" id="professional-page-jumbotron">
    <h1>professional();</h1>
</div>

<a href="@Url.Action("Index","Boggle")">Boggle Solver</a>