@{
    ViewBag.Title = "Professional";
}

@section breadcrumbs
{
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Professional</li>
</ol>
}

<div class="jumbotron" id="professional-page-jumbotron">
    <h1>professional();</h1>
</div>

<div class="page-intro">
    this is my professional page, where i do stuff with code.  checkout my projects and junk.
</div>

<hr/>

<div class="project-intro">
    <div class="project-intro-banner" id="boggle-project-banner">
        <h3>Boggle Solver</h3>
    </div>
    <div class="project-intro-description">
    this is a description for <a href="@Url.Action("Index","Boggle")">Boggle Solver</a>
    </div>
</div>

<hr/>