@{
    ViewBag.Title = "Professional";
}

@section breadcrumbs
{
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Professional</li>
</ol>
}

<div class="jumbotron" id="professional-page-jumbotron">
    <h1>professional();</h1>
</div>

<div class="page-intro">
    this is my professional page, where i do stuff with code.  checkout my projects and junk.
</div>

<ul class="project-list">
    <li class="project-list-item">
        <div class="project-list-item-banner" id="boggle-project-banner">
            <a href="@Url.Action("Index","Boggle")">
                <img class="project-list-item-banner-image" src="/img/boggle_banner_small.png"/>
                <h4>Boggle Solver</h4>
            </a>
        </div>
        <div class="project-list-item-description">
            <h4>
                <a href="@Url.Action("Index","Boggle")">Boggle Solver</a>
            </h4>
            this is a description for Boggle Solver that's longer than the typical description ...
        </div>
    </li>
</ul>